{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    Army Officer--><a href="{% static 'arts pdf/Army Officer.pdf' %}" target="_blank" >Download PDF</a><br><br>
    Fashion Designer --><a href="{% static 'arts pdf/Fashion Designer .pdf' %}" target="_blank" >Download PDF</a><br><br>
    Hotel Management--> <a href="{% static 'arts pdf/Hotel Management .pdf' %}" target="_blank">Download PDF</a><br><br>
    Journalism --><a href="{% static 'arts pdf/Journalism.pdf'%}" target="_blank">Download PDF</a><br><br>
    Law --><a href="{% static 'arts pdf/Law.pdf'%}" target="_blank">Download PDF</a><br><br>
   
</b>


   {%endblock%}