{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    B eco--><a href="{% static 'commerce pdf/B eco.pdf' %}" target="_blank" >Download PDF</a><br><br>
    BCom --><a href="{% static 'commerce pdf/BCom.pdf' %}" target="_blank" >Download PDF</a><br><br>
    CA--> <a href="{% static 'commerce pdf/CA.pdf' %}" target="_blank" >Download PDF</a><br><br>
    CMA --><a href="{% static 'commerce pdf/CMA.pdf' %}" target="_blank" >Download PDF</a><br><br>
    LLB --><a href="{% static 'commerce pdf/LLB.pdf' %}" target="_blank">Download PDF</a><br><br>
   
</b>


   {%endblock%}