{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    Mechanical Engineering<a href="{% static 'Eng pdf/Mechanical Engineering .pdf' %}" target="_blank">Download PDF</a><br><br>
    Electrical-Electronics Engineering --><a href="{% static 'Eng pdf/Electrical-Electronics Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
    computer Engineering <a href="{% static 'Eng pdf/computer Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
    Chemical-Ceramic Engineering <a href="{% static 'Eng pdf/Chemical-Ceramic Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
    Civil Engineering <a href="{% static 'Eng pdf/Civil Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
    Automobile Engineering <a href="{% static 'Eng pdf/Automobile Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
    Aeronautical Engineering  <a href="{% static 'Eng pdf/Aeronautical Engineering .pdf' %}"  target="_blank">Download PDF</a><br><br>
</b>


   {%endblock%}