{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    BSC Nursing--><a href="{% static 'medical pdf/BSC Nursing .pdf' %}" target="_blank" >Download PDF</a><br><br>
    DPharm --><a href="{% static 'medical pdf/DPharm.pdf' %}" target="_blank" > Download PDF</a><br><br>
    BPharm--> <a href="{% static 'medical pdf/BPharm.pdf' %}" target="_blank" >Download PDF</a><br><br>
    MBBS--><a href="{% static 'medical pdf/MBBS.pdf' %}" target="_blank" >Download PDF</a><br><br>
    BHMS --><a href="{% static 'medical pdf/BHMS.pdf' %}" target="_blank" >Download PDF</a><br><br>
   
</b>


   {%endblock%}