{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    IAS--><a href="{% static 'other pdf/IAS.pdf' %}" target="_blank">Download PDF</a><br><br>
    IFS --><a href="{% static 'other pdf/IFS.pdf' %}" target="_blank">Download PDF</a><br><br>
    IPS--> <a href="{% static 'other pdf/IPS.pdf' %}" target="_blank">Download PDF</a><br><br>
    IAAS --><a href="{% static 'other pdf/IAAS.pdf' %}" target="_blank">Download PDF</a><br><br>
    IFos--><a href="{% static 'other pdf/IFos.pdf' %}"target="_blank">Download PDF</a><br><br>
   
</b>


   {%endblock%}