{% extends 'base.html' %}

{% block content %}
    <section class="container m-5 p-5">
        <p class="text-center fs-3 fw-bold text-danger">Choose which suites you correctly!!</p>
        <div class="card shadow-lg">
            <div class="card-body">
                <form method="post" action="{% url 'result' %}">
                    {% csrf_token %}
                    {% for question in questions %}
                        <div class="modal-header">
                            <h3 >Q. {{question.id }} {{ question.question }}</h3>
                        </div>
                        
                        
                        <div class="modal-body">
                            <div class="col-xs-3 5">
                            
                            </div> 
                            <div class="quiz form-check" id="quiz" data-toggle="buttons">
                                <label class="element-animation1 btn btn-lg btn-danger btn-block my-1 mx-3 p-3 px-5"  style="display: inline-block; border: none; border-radius: 5px; background-color: #dc3545; color: #fff; font-size: 15px; text-align: left; cursor: pointer; width: 30%; float: left;>
                                    <span class="btn-label">
                                        <i class="fa-solid fa-a py-4 px-1"></i>
                                    </span> 
                                    <input type="radio" name="question_{{ question.id }}" value="{{ question.option_1 }}" required> {{ question.option_1 }}
                                </label>
                                <br/>
                                <label class="element-animation btn btn-lg btn-danger btn-block my-1 mx-3 p-3 px-5"  style="display: inline-block; border: none; border-radius: 5px; background-color: #dc3545; color: #fff; font-size: 15px; text-align: left; cursor: pointer; width: 30%;  position: relative; top: -23px;>
                                    <span class="btn-label">
                                        <i class="fa-solid fa-b py-4 px-1"></i>
                                    </span> 
                                    <input type="radio" name="question_{{ question.id }}" value="{{ question.option_2 }}" required>{{ question.option_2 }}
                                </label>
                                <br/>
                                <label class="element-animation3 btn btn-lg btn-danger btn-block my-1 mx-3 p-3 px-5"  style="display: inline-block; border: none; border-radius: 5px; background-color: #dc3545; color: #fff; font-size: 15px; text-align: left; cursor: pointer; width: 30%;">
                                    <span class="btn-label">
                                        <i class="fa-solid fa-c py-4 px-1"></i>
                                    </span> 
                                    <input type="radio" name="question_{{ question.id }}" value="{{ question.option_3 }}" required>{{ question.option_3 }}
                                </label>
                                <br/>
                            </div>
                        </div>
                    {% endfor %}
        
                    <div class="row g-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-danger mt-3 text-center w-100 my-3 fw-bold fs-5 shadow-lg">Submit</button>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'home' %}" class="btn btn-secondary mt-3 text-center w-100 my-3 fw-bold fs-5 shadow-lg">Home</a>
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </section>
{% endblock %}
