{% extends "base.html" %}
{% block title %} Login {%endblock%}
{% load static %}


   {%block content%}

<center style="font-size:30px;"><b><br><br>
    Bsc Agriculture--><a href="{% static 'science pdf/Bsc Agriculture .pdf' %}" target="_blank" >Download PDF</a><br><br>
    Bsc Nursing --><a href="{% static 'science pdf/BSC Nursing .pdf' %}" target="_blank">Download PDF</a><br><br>
    Engineering as career--> <a href="{% static 'science pdf/Engineering as a Career.pdf' %}" target="_blank">Download PDF</a><br><br>
    Medical as a career --><a href="{% static 'science pdf/Medical as a Career.pdf' %}" target="_blank">Download PDF</a><br><br>
   
   
</b>


   {%endblock%}